
 /* .background {
  background: url(./background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} */
 

.title {
  color: #0D6EFD;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.title-text {
  color: #0D6EFD;
}
.libre-baskerville-regular-light-blue {
  color: #3485ff !important;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.libre-baskerville-bold1 {
  color: #3485ff !important;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
.libre-baskerville-regular-lighter-blue {
  color: #428cfb !important;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.sk {
  min-height: auto;
  padding-bottom: 3rem;
  ;
}
.sk .sk-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.sk-row .sk-column {
  flex: 1 1 40rem;
}

.sk-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}
.s-b .sk-content {
  position: relative;
  border: .3rem solid #0D6EFD;
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  margin:2rem 2rem
}
.sk-content{ 
  padding-left: 1rem;
  padding-right: 1rem;
}


.sk-content .prog{
  padding: 1rem 0.5rem;
  
}

.sk-content .prog h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;

}

.sk-content .prog .Bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid #0D6EFD;
  padding: 0.3rem;
  margin: 1rem 0;
}
.sk-content .prog .Bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: #0D6EFD;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(1) .Bar span{
  width: 90%;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(2) .Bar span{
  width: 80%;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(3) .Bar span{
  width: 70%;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(3) .Bar span{
  width: 70%;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(4) .Bar span{
  width: 80%;
}
.sk-column:nth-child(1) .sk-content .prog:nth-child(5) .Bar span{
  width: 70%;
}


.box_title {
  margin-left:2rem;

}
.sk-column:nth-child(2) .sk-content .prog:nth-child(1) .Bar span{
  width: 90%;
}
.sk-column:nth-child(2) .sk-content .prog:nth-child(2) .Bar span{
  width: 80%;
}
.sk-column:nth-child(2) .sk-content .prog:nth-child(3) .Bar span{
  width: 80%;
}
.sk-column:nth-child(2) .sk-content .prog:nth-child(4) .Bar span{
  width: 75%;
}
.nav_link {
  color: #0D6EFD;
  transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
  position: relative;
  padding-bottom: 0.4rem;
}
.nav_link::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 0;
  left: 1rem;
  bottom: 0;
  background-color: #0D6EFD;
  transition: 0.6s;
}

.nav_link:hover::after {
width: 70%;
}

