@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --grey: #000000;
  --white: #fff;
  --logoColor: #f8c83b;
  --blue: #f8c83b;
  --darkBlue: #f8c83b;
  --sectionBG: #000000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: var(--grey);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: var(--logoColor);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.2);
}

.navigation a {
  color: var(--logoColor);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: all cubic-bezier(0, 0, 0.05, 1);
  position: relative;
  padding-bottom: 0.4rem;
}

.navigation a::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 0;
  left: 1.5em;
  bottom: 0;
  background-color: var(--logoColor);
  transition: 0.7s;
}

.navigation a:hover::after {
  width: 80%;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/2.jpg) no-repeat;
  background-size: 155%;
  background-position: 5% 18%;
}

.main h2 {
  color: var(--white);
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  color: var(--blue);
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: var(--white);
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block; /* because anchor is an inline element 
  and i want to give it padding and margin */
  padding: 0.9375em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.5s ease;
}
.secondry-btn {
  color: var(--white);
  background-color: var(--logoColor);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block; /* because anchor is an inline element 
  and i want to give it padding and margin */
  padding: 0.9375em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-left: 1.5em;
  transition: 0.5s ease;
}

.secondry-btn:hover {
  background-color: var(--darkBlue);
  transform: scale(1.2);
}

.main-btn:hover {
  background-color: var(--darkBlue);
  transform: scale(1.2);
}

.social-icons a {
  color: var(--white);
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--logoColor);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.card {
  background-color: var(--white);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 /25%);
  /*y  x  blur-radius         alpha or opacity of color */
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  margin: 20px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.2);
}

.icon {
  color: var(--logoColor);
  font-size: 8em;
}

.info h3 {
  color: var(--logoColor);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background-color: var(--sectionBG);
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: var(--white);
  border: 1px solid var(--white);
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-image img {
  width: 100%;
}

.project-card:hover .project-image {
  opacity: 0.8;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.6em;
  letter-spacing: 1px;
  border-radius: 15px;
}

.contact .icon {
  font-size: 4em;
}

.contact .info h3 {
  color: #000016;
}

.contact .info p {
  font-size: 1.2em;
}

.footer {
  background-color: var(--sectionBG);
  color: var(--white);
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: var(--logoColor);
}

.footer a {
  font-size: 1.3em;
  padding: 0 1.3em;
}

@media (max-width: 1023px) {
  header {
    padding: 0.9em 0.5em;
  }

  .navigation a {
    padding-left: 10px;
  }
  .title {
    font-size: 1.6em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.8em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }

  .footer a {
    padding: 1em 0.4em;
  }

  .main > div > span {
    font-size: 1em;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 11px;
  }
  .main > div > span {
    font-size: 0.5em;
  }
}
